.cls-one {
  color: var(--color-one);
}
.cls-two {
  color: var(--color-two);
}
.bg-one {
  background-color: var(--color-one);
}
.bg-two {
  background-color: var(--color-two);
}
.font-1 {
  font-size: 20px;
}
.font-2 {
  font-size: 25px;
}
